<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WonderLust</title>
</head>
<body><h3>Listing Details</h3>
  <ul>
    <li><%=listing.title%></li>
    <li><%=listing.description%></li>
    <li>&#8377;<%=listing.price.toLocaleString("en-IN")%></li> 
    <!-- //.toLocaleString price mai ,dene mai kaam aat hai and  ye ("en-IN")  location deta hai kaha ka lena hai -->
    <li><%=listing.location%></li>
    <li><%=listing.country%></li>
    

<br/>
<a href="/listings/<%=listing._id%>/edit">EDIT THIS LISTINGS</a>

 <br/>
 <br/>
 <form method="POST" action="/listings/<%=listings._id%>?_method=DELETE">
<button>delete</button></form>
  </ul>
  
</body>
</html>